@model myPosCR.Services.Models.NewTransactionServiceListingModel
@{
    ViewData["Title"] = "Details";
}


<div class="text-center">
    <h1 class="display-4">Details</h1>
</div>

<div class="container row">
    <div class="col-lg-12">
      <!-- Title -->
      <div class="bg-dark text-light d-flex justify-content-between align-items-center py-3">
        <h2 class="px-3 h5 mb-0">Transaction #@Model.TransactionId</h2>
      </div>
      <!-- Details -->
      <div class="card mb-4">
        <div class="card-body">
          <!-- Header -->
          <div class="mb-3 d-flex justify-content-between">
            <div>
              <span class="me-3 fw-bold">@Model.Date</span>
              @if(Model.SenderEmail == User.Identity?.Name){
                <span class="badge rounded-pill bg-danger">OUTGOING</span>
              }else{
                <span class="badge rounded-pill bg-success">INCOMING</span>
              }
            </div>
            <div class="d-flex">
                  <span class="text fw-bold">Phone Number</span>
            </div>
          </div>
          <!-- Info -->
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td colspan="2">
                  <div class="d-flex mb-2">
                    @*<div class="flex-shrink-0">
                      <img src="https://via.placeholder.com/280x280/87CEFA/000000" alt="" width="35" class="img-fluid">
                    </div>*@
                    <div class="flex-lg-grow-1 ms-3">
                      <span class="small">From:</span>
                      <h6 class="small mb-0">
                          <a class="text-reset">@Model.SenderEmail</a>
                      </h6>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                    @Model.SenderPhoneNumber
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <div class="d-flex mb-2">
                    @*<div class="flex-shrink-0">
                      <img src="https://via.placeholder.com/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                    </div>*@
                    <div class="flex-lg-grow-1 ms-3">
                      <span class="small">To:</span>
                      <h6 class="small mb-0">
                          <a class="text-reset">@Model.RecieverEmail</a>
                      </h6>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                    @Model.RecieverPhoneNumber
                </td>
              </tr>
              
              <tr class="fw-bold">
                <td colspan="2">
                    <div class="ms-3">
                  @*<div class="flex-lg-grow-1 ms-3">*@
                      <span class="small">Amount:</span>
                    </div>
                </td>
                <td class="text-end">@Model.Amount</td>
              </tr>
            </tbody>

            @*<tfoot>
              <tr class="fw-bold">
                <td colspan="2">Amount</td>
                <td class="text-end">@Model.Amount</td>
              </tr>
            </tfoot>*@
          </table>
        </div>
      </div>
      <!-- Message -->
      @if(Model.SanitizedMessage!="" && Model.SanitizedMessage!= null){
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Message from @Model.SenderEmail (@Model.SenderPhoneNumber)</h3>
              <p>@Html.Raw(Model.SanitizedMessage)</p>
            </div>
          </div>
        </div>
      }
      </div>
</div>

